.bg{
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(90deg, 	rgba(247, 232, 81, 0.8) 10%,
										rgba(255, 210, 59, 0.7) 50%,
										rgba(255, 226, 0, 0.7) 70%,
										rgba(255, 226, 0, 0.4) 100%);
	overflow-y: scroll;
}

body{
		background-image: url("img/nightsky.gif");
		margin:0; padding: 0;
		background-size: 1920px 1080px;
 }
.layer{
	background: linear-gradient(90deg, 	rgba(247, 232, 81, 0.7) 10%,
										rgba(255, 210, 59, 0.6) 50%,
										rgba(255, 226, 0, 0.5) 80%,
										rgba(255, 226, 0, 0.4) 90%,);

  	box-shadow: 0 0 30px 10px rgba(247, 232, 81, 0.9);
}
