.bg{
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(90deg, 	rgba(247, 232, 81, 0.8) 10%, 
										rgba(255, 210, 59, 0.7) 50%, 
										rgba(255, 226, 0, 0.7) 70%, 
										rgba(255, 226, 0, 0.4) 100%);
	overflow-y: scroll;
}

header{
 	padding-left: 15px;
 	padding top: 15px;
}

body{  margin:0; padding: 0;}

@font-face {
    font-family: "Voga";
    src: url("Voga-Medium.otf");
}

h1{
	position: relative;
	left: 15%;
	margin: 0;
	padding-bottom: 2vh;
	font-family: Voga, serif;
	font-size: 15vh;
	color: black;
	
}
.username{	color: red; }

.greet{
	top:0;
	width: 100%;
	background-image: linear-gradient(to right, grey, lightgrey);
	border-style: groove;
	border: 1px solid black;
}

.buttonwrap{
	position:absolute;
  	top: 3vh;
  	right: 16px;
}

.logout{
	display: inline-block;
	padding: 10px 24px;
	font-size: 5vh;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Didot;
	outline: none;
	color: black;
	background-color: #FFE4C4;
	border: none;
	box-shadow: 5px 9px 18px grey ;

}

.logout:hover {
	transition-duration: 1s;
  background-color: transparent; /* Green */
  color: white;
}


.layer{	
	position: relative;
	top: 10%;
	bottom: 5%;
	left: 5%;
	width: 90%;
	background: linear-gradient(90deg, 	rgba(247, 232, 81, 0.7) 10%, 
										rgba(255, 210, 59, 0.6) 50%, 
										rgba(255, 226, 0, 0.5) 80%, 
										rgba(255, 226, 0, 0.4) 90%,);
	
  	box-shadow: 0 0 30px 10px rgba(247, 232, 81, 0.9);
  	overflow-y: scroll;
  	margin-bottom: 3%;

}

/*	Text Editor*/

.texteditor{
	position: relative;
	padding-top: 1%;
	left:3%;
}

.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select { font-size:10px; }
#textBox {
	position: relative;
	max-width: 90%; 
  width: 540px;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
  background-color: transparent;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#editMode label { cursor: pointer; }
