<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<form action="/post" method="post">
  <input type="text" name="title" placeholder="Title" required>
  <input type="text" name="description" placeholder="Description" required>
  <button type="submit" name="button">Post</button>
</form>

<% rows.forEach(function(r) { %>
  <%= r.title %>
  <%= r.description %>
<% }); %>
