
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
    <style>
      .login-form {
  			width: 300px;
  			margin: 0 auto;
  			font-family: Arial, sans-serif;
  		}
  		.login-form h1 {
  			text-align: center;
  			color: #4d4d4d;
  			font-size: 24px;
  			padding: 20px 0 20px 0;
  		}
  		.login-form input[type="password"],
  		.login-form input[type="email"] {
  			width: 100%;
  			padding: 15px;
  			border: 1px solid #dddddd;
        outline: none;
  			margin-bottom: 15px;
  			box-sizing:border-box;

  		}
  		.login-form button[type="submit"],
      .login-form button[type="button"] {
  			width: 47.5%;
  			padding: 15px;
  			background-color: #535b63;
  			border: 0;
        outline: none;
  			box-sizing: border-box;
  			cursor: pointer;
  			font-weight: bold;
  			color: #ffffff;
  		}
      .login-form button[type="submit"] {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h1>Login</h1>
      <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
      <form action="/login" method="POST">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="button" onclick= "location.href = '/register'">Register</button>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
