
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
      :root {
        --clr-background: #333333;
        --clr-highlight: #64aaff;
        --clr-text: #ffffff;
      }
      body {
        font-family: sans-serif;
        background-color: var(--clr-background);
        color: var(--clr-text);
      }
      .login-form {
  			width: 300px;
  			margin: 0 auto;
        margin-top: 5%;
  		}
  		.login-form h1 {
  			text-align: center;
  			font-size: 24px;
  			padding: 20px 0 20px 0;
  		}
  		.login-form input {
  			width: 100%;
  			padding: 15px;
  			border: 2px solid var(--clr-text);
  			margin-bottom: 15px;
  			box-sizing:border-box;
        font-size: 13px;
        transition: border 300ms;
  		}
      .login-form input:focus,
      .login-form input:hover {
        outline: none;
        border: 2px solid var(--clr-highlight);
      }
  		.login-form button {
  			width: 100%;
  			padding: 15px;
  			background-color: var(--clr-highlight);
  			border: 0;
        outline: none;
  			box-sizing: border-box;
  			cursor: pointer;
  			font-weight: bold;
        font-size: 13px;
  			color: var(--clr-text);
  		}
      .login-form button:focus,
      .login-form button:hover {
        text-decoration: underline;
      }
      .login-form p {
        font-size: 12px;
        border: 0;
      }
      .login-form a:link,
      .login-form a:visited,
      .login-form a:active {
        color: var(--clr-highlight);
        text-decoration: none;
      }
      .login-form a:hover,
      .login-form a:focus {
        color: var(--clr-highlight);
        text-decoration: underline;
        outline: none;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <p>EMAIL
          <% if (messages.error == 'Email incorrect') { %>
            <%= ' - Email does not exist.' %>
          <% } %></p>
        <input type="email" id="email" name="email" required  >
        <p>PASSWORD
          <% if (messages.error == 'Password incorrect') { %>
            <%= ' - Passoword does not match.' %>
          <% } %></p>
        <input type="password" id="password" name="password" required>
        <button onclick="require()">Login</button>
        <p>Need an account? <a href='/register'>Register</a></p>
      </form>
    </div>
  </body>
</html>
